In [1]:
#import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model #for creating ml model
#from sklearn.datasets import load_boston

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 
from matplotlib import pyplot as plt

In [5]:
file_data=pd.read_csv(r"C:\Users\RAKSHAG\Downloads\insurance_py (1).csv")
test2=file_data.iloc[0:1000,0:6]
test2.head()
type(test2)

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       4
1   18    1  33.770         1       0       3
2   28    1  33.000         3       0       3
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

pandas.core.frame.DataFrame

In [9]:
file_data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       4  16884.92400
1   18    1  33.770         1       0       3   1725.55230
2   28    1  33.000         3       0       3   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [11]:
ind_var1=file_data.iloc[0:1000,0:6]
ind_var1.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       4
1   18    1  33.770         1       0       3
2   28    1  33.000         3       0       3
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

In [13]:
test1=pd.read_csv(r"C:\Users\RAKSHAG\Downloads\insurance_test.csv")
type(test1)
print(test1)

pandas.core.frame.DataFrame

   age  sex  bmi  children  smoker  region
0   38    0   25         3       0       2

In [15]:
from sklearn import linear_model

In [16]:
dep_var1=file_data.iloc[0:1000,6]
dep_var1.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [19]:
from sklearn import linear_model
model1=linear_model.LinearRegression()
model1.fit(ind_var1,dep_var1)

LinearRegression()

In [22]:
result1=model1.predict(test1)

In [23]:
print(result1)

[7211.78816678]